@charset "UTF-8";
/* CSS Document */

body{
	background-color: #3E4DB2;
	color: #B29535;
}

a:link{
	text-decoration: none;
}

h2{
	color: #B29535;
	margin-top: 0px;
}

h3{
	color: #B29535;
}

p{
	font-size: 16px;
}

li{
	text-decoration: underline;
}

.active{
	font-weight: bold;
}

li:hover{
	cursor: pointer;
}

.navrow{
	height: 44px;	
}

.navbut{
	color: #B29535;
	border-bottom: thin solid black;
}

.navbut_active{
	color: #3E4DB2;
	background-color: #B29535;
	border-bottom: thin solid black;
}

.navbut:hover{
	cursor: pointer;
	background-color: #B29535;
	color: #3E4DB2;
}
#empty_navbut_left{
	background-image: url("../images/empty_nav_left.jpg");
	background-repeat: repeat-x;
	height: 21px;
	border-bottom: thin solid black;
}

#empty_navbut_right{
	background-image: url("../images/empty_nav_right.jpg");
	background-repeat: repeat-x;
	height: 21px;
	border-bottom: thin solid black;
}

.img-cont{
	border-right: medium solid black;
}

.img-links{
	max-height: 50px;
	height: auto;
	width: auto;
	padding-top: 20px;
}

.main-hgt{
	height: auto;
}
.about-me {
	height: auto;
}
.col-title{
	height: 10%;
}
.data{
	height:90%;
}
.description{
	border-right: medium solid black;
	height: 100%;
}
.inactiveTab{
	display: none;
}
#about-me-list{
	border-bottom: medium solid black;
}
.about-me-pics{
	max-width: 300px;
	padding-bottom: 10px;
	padding-right: 15px;
}
.portfolio_links{
	padding-left: 10px;
	padding-right: 10px;
	width: 20%;
}
#portfolio_links_cont{
	padding-bottom: 10px;
	border-bottom: medium solid black;
}
.Jackson_Img{
	width: 80%;
	max-width: 600px;
}
.keyshare_img{
	max-width: 600px;
	width: 60%;
}
.ponder_img{
	max-width: 51%;
}